<div class="container row">
    <label class="control-label" for="username">Username:</label>
    <input type="text" id="username" ng-model="user.userid"
           class="form-control" placeholder="Username" required="required">
</div>
<br/>
<div class="container row">
    <label class="control-label" for="password">Password:</label>
    <input type="password" id="password" ng-model="user.password"
           class="form-control" placeholder="Password">
</div>
<br>
<div class="container row ">
    <a class="btn btn-info text-right" ng-click="greet(user)">Login</a>
</div>