<div class="container">
    <div class="row">
        <div class="well col-lg-2">Username:</div><div class="well alert-info">{{userDetails.username}}</div>
    </div>
    <div class="row">
        <div class="well col-lg-2">First Name:</div><div class="well alert-info">{{userDetails.firstName}}</div>
    </div>
    <div class="row">
        <div class="well col-lg-2">Last Name:</div><div class="well alert-info">{{userDetails.lastName}}</div>
    </div>
    <div class="row">
        <div class="well col-lg-2">Type:</div><div class="well alert-info">{{userDetails.type}}</div>
    </div>
    <div class="row">
        <div class="well col-lg-2">Age:</div><div class="well alert-info">{{userDetails.age}}</div>
    </div>
    <div class="row">
        <a href="#/users" class="btn btn-info text-right ">Back</a>
    </div>
</div>

<!--
<form class="form-inline table" role="form">
    <div class="form-group row">
        <label for="username">Username:</label>
        <label class="form-control" id="username">{{userDetails.username}}</label>
    </div>
    <div class="form-group row">
        <label for="firstName">First Name:</label>
        <label class="form-control" id="firstName">{{userDetails.firstName}}</label>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <label class="form-control" id="lastName">{{userDetails.lastName}}</label>
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <label class="form-control" id="type">{{userDetails.type}}</label>
    </div>
</form>
-->
